.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-options-button{
  padding: 0.5rem;
  background: transparent;
  border-radius: 25px;
  border: 1px solid #376B7E;
  margin: 3px;
}

.learning-options-button:hover {
  background: #376B7E;
  color: white;
}
